services:
    -
        class: Weebly\PHPStan\Laravel\MethodReflectionFactory
    -
        class: Weebly\PHPStan\Laravel\Types\ModelFindReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: Weebly\PHPStan\Laravel\BuilderMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Weebly\PHPStan\Laravel\FacadeMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Weebly\PHPStan\Laravel\MacroMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Weebly\PHPStan\Laravel\HelpersReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -   class: Weebly\PHPStan\Laravel\Utils\AnnotationsHelper

parameters:
    bootstrap: %rootDir%/../../weebly/phpstan-laravel/bootstrap.php
