services:
    -
        class: Webparking\PHPStan\Lumen\MethodReflectionFactory
    -
        class: Webparking\PHPStan\Lumen\BuilderMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Webparking\PHPStan\Lumen\FacadeMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Webparking\PHPStan\Lumen\MacroMethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Webparking\PHPStan\Lumen\HelpersReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -   class: Webparking\PHPStan\Lumen\Utils\AnnotationsHelper

parameters:
    bootstrap: %rootDir%/../../webparking/phpstan-lumen/bootstrap.php
